/* DESKTOP STYLES */

@media (min-width: 700px) {

    /* NAVIGATION */
    .nav-links {
        position: static;
        display: flex;
        flex-direction: row;
        background: transparent;
        width: auto;
        gap: 25px;
        padding: 0;
        list-style: none;
    }

    .menu-toggle {
        display: none;
    }

    /* HERO SECTION */
    .hero{
    height:  40rem;
 }
    .hero h1{
    font-size: 5rem;
 }

 .hero p{
    font-size: 2rem;
 }

    /* PAGE SECTIONS */
    .section {
        max-width: 900px;
        margin: 40px auto;
        padding: 20px;
    }

    /* GRIDS */
    .destinations-grid,
    .gallery-grid,
    .results-grid,
    .grid,
    .gallery-container{
        display: grid;
        max-width: 1100px;
        margin:auto;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 20px;
        padding: 20px;
    }

    .result-card img,
    .destination-card img {
        height: 200px;
    }

    /* MAP */
    #map {
        height: 400px;
    }

    /* INFO PAGE */
    .details-container {
        max-width: 1100px;
        margin: auto;
    }

    .destination-card{
        max-width: 1100px;
        margin:1rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))
    }

    .search-container input {
    width: 450px;
    height: 50px;
}
}
